<% provide :title, 'About' %>

<div class="container">
  <div class="page-header">
    <h2>このサイトについて</h2>
  </div>

  <h3>Record Your Pomodori</h3>

  <p>「Record Your Pomodori」は、ポモドーロ・テクニックのレコード（日々の実績）を記録するためのウェブアプリケーションです。</p>

  <p>ポモドーロ・テクニックとは、タスク管理の技法のことです。何か作業をするときには、キッチンタイマーを25分にセットして、その25分間はそのことだけに集中します。25分が過ぎたら5分間休憩します。本式のポモドーロ・テクニックでは、この25分間と5分間の1セットを「ポモドーリ」という単位で数えるそうです。ポモドーロ・テクニックでは、1日にこなしたポモドーリの数などを積極的に記録して、後から分析することが推奨されています。</p>

  <p>「Record Your Pomodori」では、日ごとのポモドーリと完了したタスクの数を記録することができます。</p>

</div>
