/* navbar */

div.navbar-header {
  a.navbar-brand {
    font-family: 'Elsie', cursive;
    color: gray;
  }
}
/* top page */

div.jumbotron {
  text-align: center;

  h1 {
    font-family: 'Elsie', cursive;
  }
}
