/* base */

p {
  letter-spacing: 1.2;
  line-height: 1.8;
}

/* navbar */

div.navbar-header {
  a.navbar-brand {
    font-family: 'Elsie', cursive;
    color: gray;
  }
}
/* top page */

div.jumbotron {
  text-align: center;

  h1 {
    font-family: 'Elsie', cursive;
  }
}
